@model TangaDummy.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermitType1.Permit_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermitType1.Permit_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonTable.Person_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonTable.Person_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
